
.seperator {
  width: 100%;
  border-bottom: 1px dashed;
}

.res_name {
  font-size: 1.43rem;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: 8px;
  text-transform: capitalize;
  display: flex;
  align-items: flex-start;
}

.res_cuisines {
  font-size: .93rem;
  color: #7e808c;
  height: calc(0.93rem + 2px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

.res_ratings {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  font-size: 14px;
  color:#3d9b6d;
  font-family: arial,Helvetica,sans-serif;
  font-weight: bold;
}

.time_cost_container {
  margin-bottom: 18px;
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
}

.time_cost_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.time_cost {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: #3e4152;
    font-size: 15px;
    font-weight: 700;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.resInfo {
  display: flex;
  padding: 0px;
  justify-content: end;
  
  }